/****** Main Styling ******/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fafafa;
  text-align: center;
  line-height: 1.4em;
}

.header {
  background-color: rgb(20, 20, 20);
}

h1 {
  font-weight: 900;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}
.container {
  padding: 0;
  margin-top: 40px;
}

h3 {
  font-weight: 600;
  font-size: 25px;
  margin: 50px;
  text-decoration: underline;
  text-underline-position: under;
}

code {
  font-family: monospace;
  padding: 10px;
  color: black;
  border: 2px solid black;
}

.example {
  font-family: monospace;
  padding: 10px;
  color: black;
}

ul {
  list-style-type: none;
  border: 2px solid black;
  display: inline-block;
}

.footer {
  padding: 50px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: white;
  font-size: large;
}
.footer a {
  color: white;
  font-size: larger;
}
